
body{
    margin: 0;
}
.mainbody{
   width: 100%;
   height: 615px;
   background-image: url("Image/Mask.webp");
   background-size: cover;
   

}
.image{
    width: 222px;
    height: 30px;
    padding-left: 40px;
    padding-top: 22px;
}
.header{
    font: 14px/28px D-DIN-Bold,Arial,Verdana,sans-serif;
    color: white;
    font-weight: 700;
    font-style: normal;
    padding-left: 40px;
    
}
.para{
    color: white;
    font-size: 48px;
    line-height: 48px;
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 40px;
    padding-top: 290px; 
}
.innerbody{
    width: 100%;
    height: 615px;
    background-image: url("Image/Mask1.webp");
    background-size: cover;
}
.inner{
    padding-top: 355px;
    padding-left: 15px;
}
.text{
    font: 20px/38px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.text1{
    font-size: 48px;
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.innerbody2{
    width: 100%;
    height: 622px;
    background-image: url("Image/Mask2.webp");
    background-size: cover;
}
.inner2{
    padding-top: 362px;
    padding-left: 50px;
}
.text2{
    font: 20px/38px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.text3{
    font-size: 48px;
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}
.innerbody3{
    width: 100%;
    height: 622px; 
    background-image: url("Image/Mask3.webp");
    background-size: cover;
}
.inner3{
    padding-top: 395px;
    padding-left: 50px;
}
.text4{
    font-size: 48px;
    line-height: 48px;
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}
.innerbody4{
    width: 100%;
    height: 622px;
    background-image: url("Image/Mask4.webp");
    background-size: cover;
}
.inner4{
    padding-top: 345px;
    padding-left: 50px;
}
.text5{
    font-size: 48px;
    font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
}
.inner5{
    color: white;
    font: 12px/24px D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: 400;
    padding-left: 335px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;

}



